<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Rent System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .apresentacao:hover {
            border: 2px solid #facc15; 
            background-color: rgba(30, 58, 138, 0.6); 
        }

        .apresentacao:hover h1,
        .apresentacao:hover a {
            color: #facc15; 
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-blue-500 to-blue-900 p-4 flex items-center justify-between">
        <div class="text-white text-2xl font-semibold">
            <!-- Logo Space -->
            <a href="/"><img class="w-16 h-16" src="/imagens/logoBRR_def.png" alt=""></a>
        </div>
        <div class="flex-grow">
            <a href="/publicos/locadora" class="text-white hover:text-yellow-300 p-4">Ver Locadoras</a>
        </div>
        <div class="flex space-x-4">
            <!-- Navbar Buttons -->
            <a href="/cliente/" class="text-white hover:text-yellow-300">Cliente</a>
            <a href="/locadora/" class="text-white hover:text-yellow-300">Locadora</a>
            <a href="/admin/" class="text-white hover:text-yellow-300">Administrador</a>
            <a href="/publicos/sobre" class="text-white hover:text-yellow-300">Sobre</a>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="bg-cover bg-center h-screen" style="background-image: url('/imagens/background_index.jpg');">
        <section class="flex items-center justify-between h-full p-8 transition duration-300 ease-in-out">
            <div class="bg-white bg-opacity-80 p-6 rounded-lg shadow-lg max-w-xs">
                <h1 class="text-2xl font-bold text-yellow-500 mb-4">Novo por aqui?</h1>
                <span class="text-blue-900">
                    Clique <a class="text-yellow-500" href="/publicos/locadora/cadastro">aqui</a> para cadastrar e gerenciar sua própria locadora.
                </span>
            </div>
            <div class="bg-white bg-opacity-80 p-6 rounded-lg shadow-lg max-w-xs">
                <h1 class="text-2xl font-bold text-blue-900 mb-4">Já possui cadastro?</h1>
                <span class="text-blue-900">
                    Clique <a class="text-yellow-500" href="/locadora/">aqui</a> para fazer login.
                </span>
            </div>
        </section>
    </main>
</body>
</html>
