<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Rent System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .apresentacao:hover {
            border: 2px solid #facc15; 
            background-color: rgba(30, 58, 138, 0.6); 
        }

        .apresentacao:hover h1,
        .apresentacao:hover a {
            color: #facc15; 
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-blue-500 to-blue-900 p-4 flex items-center justify-between">
        <div class="text-white text-2xl font-semibold">
            <!-- Logo Space -->
            <span>Logo</span>
        </div>
        <div class="flex-grow"></div>
        <div class="flex space-x-4">
            <!-- Navbar Buttons -->
            <a href="/cliente" class="text-white hover:text-yellow-300">Cliente</a>
            <a href="#" class="text-white hover:text-yellow-300">Locadora</a>
            <a href="#" class="text-white hover:text-yellow-300">Administrador</a>
            <a href="#" class="text-white hover:text-yellow-300">Sobre</a>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="bg-cover bg-center h-screen" style="background-image: url('/imagens/background_index.jpg');">
        <section class="flex items-center justify-end h-full p-8 transition duration-300 ease-in-out">
            <!-- Title Section -->
            <div class="apresentacao flex flex-col max-w-lg text-right bg-white bg-opacity-70 p-4 rounded-lg transition duration-300 ease-in-out">
                <h1 class="text-4xl font-bold text-blue-900 mb-4">Bike Rent System</h1>
                <p class="text-lg text-black font-semibold mb-4">
                    Explore and manage your bike rentals easily. Our platform provides a user-friendly interface for clients, rental companies, and administrators.
                </p>
                <a href="/publicos/cadastro" class="text-lg text-blue-600 hover:text-yellow-400 font-semibold transition duration-300 ease-in-out">
                    Faça já seu cadastro!
                </a>
            </div>
        </section>
    </main>
</body>
</html>
